{% extends 'base.html' %}

{% block content %}
	
{% load socialaccount %}

<br/>
<div class="login-main" id="login-background">
    <div class="form-1" id="login-form-bx">
        <div class="shadow p-4 mb-5 sm-body rounded">
            <form action="" method=POST>
                {% csrf_token %}
                <h1>Login</h1>
                <div class="mb-3">
                    <label for="email-input" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                    
                </div>
                <div class="mb-3">
                    <label for="password-input" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-3">
                    <a href="{% url 'reset-password' %}">Forgot your password?</a>
                </div>
                <div class="sign-in">
                    <input type="submit" value="Submit" class="btn btn-secondary submit">
                    <div class="oauth-box">
                        <div class="oauth-login-btn">
                            <a href="{% provider_login_url 'google' %}"  class="btn btn-primary"><i class="bi bi-google"> Sign in with Google</i></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>      
	</div>	
</div>
<br/><br/>	


{% endblock %}