{% extends 'base.html' %}

{% block content %}




{% if user.is_authenticated %}



        <div class="main-container">
            <h1>Admin Dashboard</h1>
  
            <form action="" method=POST>
                {% csrf_token %}

                <div class="main-header">
                    <div class="venue-events-box">
                        <!-- List Events by Venue -->
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                <th scope="col">Venue Name</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Events</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for venue in venue_list %}
                                <tr>
                                    <td><a href="{% url 'events:show-venue' venue.id %}">{{venue}}</a></td>
                                    <td>
                                        <a href="{% url 'events:update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                                                                          
                                        <!-- Button trigger modal -->
                                        <a href="#" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Remove</a>                
                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">"{{ venue }}"</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this Venue? 
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'events:delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm">Delete Venue</a>
                                                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                            </div>
                                        </div>
                                        </div>

                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    </td>
                                    <td><a href="{% url 'events:venue-events' venue.id %}" class="btn btn-secondary">List Events</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>    
                    <div class="card-box">
                        <!-- Overall Counts -->
                        <div class="card">
                            <div class="card-header">
                                Overall Counts
                            </div>
                            <div class="card-body">
                                <p class="card-text">Event Count: {{event_count}}</p>
                                <p class="card-text">Venue Count: {{venue_count}}</p>
                                <p class="card-text">User Count: {{user_count}}</p>
                            </div>
                        </div>

                    </div>
                    
                </div>

                <hr>

                <div>
                    <!-- Event Approval form -->
                    <h2>Event Approval (Admin)</h2>
                    <br><br>
                    {% csrf_token %}
                    <table class="table table-stripped table-hover table-bordered border-primary">
                        <thead>
                        <tr>
                            <th scope="col">Event Name</th>
                            <th scope="col">Venue</th>
                            <th scope="col">Event Date</th>
                            <th scope="col">Manager</th>
                            <th scope="col">Approved</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for event in event_list %}
                            <tr>
                                <td>{{ event }}</td>
                                <td>{{ event.venue }}</td>
                                <td>{{ event.event_date }}</td>
                                <td>{{ event.manager }}</td>
                                <td>
                                    {% if event.approved %}
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" checked="checked" value={{event.id}} name="boxes">
                                        </div>
                                    {% else %}  
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" value={{event.id}} name="boxes">
                                        </div>
                                    {% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success" type="submit">Update Approval</button>
        
                </div>
            </form>
        </div>

        <br>


{% endif %}

{% endblock %}