{% extends 'base.html' %}
{% load static %}
{% block content %}

      
<div class="main-header-box">
  <div class="welcome-box">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        {% if user.is_authenticated %}
          <h1 class="display-4">Hello {{ user }}!</h1>
        {% else %}
        <h1 class="display-4">Welcome !</h1>
        {% endif %}
        
        <p class="lead">Welcome to <span id="welcome-span">EventHub</span>, an app show-casing basic event-management 
          features, authentication & OAuth, CRUD, permissions, admin dashboard, and more. Dive in! <br><br><strong>Disclaimer:</strong> this website is for educative and demonstrative purposes only. No actual events are posted on this website. 
        
        </p>
      </div>
    </div>  

    </div>
    <div class="flex-calendar-box">
      <img src="{% static '/img/eventhub-logo-png.png' %}" alt="eventhub-logo">
      <p>As of {{ time }}</p>
      <p>{{ cal | safe }}</p>
    </div>
  </div>
 


      {% if event_list %}

          <div class="date-paginator-bx">
              <h2>Events in: </h2>
              <div class="date-paginator" id="date-paginator">
                <a href="{% url 'events:home' prev_year prev_month %}"><i class="bi bi-arrow-left-circle"></i></a>
                <h2>{{ month }}</h2>
                <h2>{{ year }}</h2>
                <a href="{% url 'events:home' next_year next_month %}"><i class="bi bi-arrow-right-circle"></i></a>
              </div>
          </div>
                  
          <br><br>
          {% for event in event_list %}
          
          <div class="card">
            <div class="card-header" id="card-header-events">
              <h3>{{ event }}</h3>
            </div>
            <div class="card-body">
              <div class="flex-box">
                <div class="info-img-box">
                  <div class="info-box">
                    <h5 class="card-title">Venue: {{ event.venue }}</h5>
                    <p class="card-text">     
                      <ul>   
                          <li><span class="label">Date:</span> {{ event.event_date }}</li>
                          <li><span class="label">Days Until Event:</span> {{ event.days_until }} ( {{ event.is_past }} )</li>
                          <li><span class="label">Venue URL:</span> {{ event.venue.web }}</li>          
                          <li><span class="label">Description:</span> {{ event.description }}</li>            
                          <br>
                      </ul>  
                    </p>  
                  </div>  
                  <div class="img-box">
                    {% if event.event_image %}
                      <img src="{{ event.event_image.url }}" alt="event-image">
                    {% else %}
                      <!-- Placeholder image or alternative content if no image is available -->
                      <p>No image available</p>
                    {% endif %}
                    </div>
                </div>
                      
              </div>                
                
            </div>
            <div class="card-footer text-muted"> 
              <div class="btn-bx">  
                <div>
                  {% if not user.is_authenticated %}
                    <a href="{% url 'login'%}" class="btn btn-outline-success btn-sm">Join Event</a>  
                  {% endif %}
    
                    <a href="{% url 'events:show-event' event.id %}" class="btn btn-outline-primary btn-sm">Show Event</a>
    
                    {% if user.is_authenticated and event.approved %} 
                      {% if user not in event.attendees.all or user.is_superuser %}
                        <a href="{% url 'events:join-event' event.id %}" class="btn btn-outline-success btn-sm">Join Event</a>                 
    
                      {% elif user in event.attendees.all %}
                        <a href="{% url 'events:leave-event' event.id %}" class="btn btn-outline-danger btn-sm leave-btn">Leave Event</a>
                      {% endif %}
                    {% endif %}
                    {% if user.is_authenticated %}
                    {% if user == event.manager %}
                  
                        <a href="{% url 'events:update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
                        <a href="{% url 'events:delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
                      
                    {% endif %}
                  {% endif %} 
                </div>
              </div>         
            </div>
          </div>
          <br><br>
          {% endfor %}
          <br><br>
      {% else %}
          <div class="date-paginator-bx">
              <h2>Events in: </h2>
              <div class="date-paginator" id="date-paginator">
                <a href="{% url 'events:home' prev_year prev_month %}"><i class="bi bi-arrow-left-circle"></i></a>
                <h2>{{ month }}</h2>
                <h2>{{ year }}</h2>
                <a href="{% url 'events:home' next_year next_month %}"><i class="bi bi-arrow-right-circle"></i></a>
              </div>
          </div>
          <h5>Sorry... there are no events this month</h5>
      {% endif %}

      <br><br><br>
</div>



{% endblock %}