{% extends 'base.html' %}

{% block content %}


<div class="card">
    <div class="card-header">
      Venue
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ venue }}</h5>
        <p class="card-text">
            <ul>

        <li>{{ venue.address }}</li>
        <li>{{ venue.zip_code }}</li>
        <li>{{ venue.phone }}</li>
        <li>{{ venue.email_address }}</li>
        <li><a href="{{ venue.web }}">{{ venue.web }}</a></li>
        <li>Owner: {{ venue.owner.username }} </li>
        <li>Owner's Email: {{ venue.owner.email }} </li>

        </ul>
        <br>

        {% if venue.venue_image %}
        <img src="{{ venue.venue_image.url }}" width=500>
        {% endif %}



        </p>
        <br/>
        <h3>Events At This Venue...</h3>

        {% if events %}
            <div class="event-card-box">
                {% for event in events %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            {{ event.name }}
                        </div>
                            <img src="..." class="card-img-top" alt="event-img">
                        <div class="card-body">
                            <h5 class="card-title">{{ event }}</h5>
                            <p class="card-text">{{ event.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> <a href="{% url 'events:show-event' event.id %}" class="btn btn-primary btn-sm">More Info.</a></li>
                        </ul>

                    </div>
                {% endfor %}
            </div>



        {% else %}
            No Events Scheduled At This Time.
        {% endif %}
        <br>

    </div>

</div>



{% endblock %} 