{% extends 'base.html' %}

{% block content %}


    <div class="card">
        <div class="card-header">
        <h5>Venue</h5>
        </div>
        <div class="card-body">
            <div class="flex-box">
              <div class="info-img-box">
                <div class="info-box">
                  <h5 class="card-title">{{ venue }}</h5>
                  <p class="card-text">     
                    <ul>   
                        <li><span class="label">Address:</span>{{ venue.address }}</li>
                        <li><span class="label">Zip Code:</span>{{ venue.zip_code }}</li>
                        <li><span class="label">Contact Phone:</span>{{ venue.phone }}</li>
                        <li><span class="label">Email Address:</span>{{ venue.email_address }}</li>
                        <li><span class="label">Venue Website:</span><a href="{{ venue.web }}">{{ venue.web }}</a></li>        <li><span class="label">Contact name:</span> {{ venue.owner.username }} </li>
                        <li><span class="label">Contact Email:</span> {{ venue.owner.email }} </li>
                        <br>
                    </ul>
                  </p>  
                </div>  
                <div class="img-box">
                    {% if venue.venue_image %}
                    <img src="{{ venue.venue_image.url }}" width=500>
                    {% endif %}
                </div>
              </div>
            </div>        
        </div>
    </div>

        <br/>
        <h3>Events At This Venue...</h3>

        {% if events %}
            <div class="event-card-box">
                {% for event in events %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            {{ event.name }}
                        </div>
                            <img src="{{ event.event_image.url }}" class="card-img-top" alt="event-img">
                        <div class="card-body">
                            <h5 class="card-title">{{ event }}</h5>
                            <p class="card-text">{{ event.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> <a href="{% url 'events:show-event' event.id %}" class="btn btn-primary btn-sm">More Info.</a></li>
                        </ul>
                    </div>
                {% endfor %}
            </div>          
        {% else %}
            No Events Scheduled At This Time.
        {% endif %}
            <br>  





{% endblock %} 