{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

    {% if user == event.manager or user.is_superuser %}
        <h1>Update Event...</h1><br>
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update" class="btn btn-secondary">
        </form>
    {% else %}
        <h2>Access Denied</h2>
        <p>Only the event's Manager can update this event....</p>

        <!-- Logged In User: {{ user }}<br>
        Event Manager: {{ event.manager }} -->
    {% endif %}

{% else %}
    <h2>Sorry! You Must Be Logged In To View This Page...</h2>
    <a href="{% url 'login' %}" class="btn btn-success">Login Here</a>
{% endif %}


{% endblock %} 