{% extends 'base.html' %}

{% block content %}

    <div class="header-box">
        <div>
            <h1>Venues</h1>
        </div>
        <div class="file-download-box">
            <a href="{% url 'events:venue-csv' %}"><i class="bi bi-filetype-csv"></i></a>
            <a href="{% url 'events:venue-pdf' %}"><i class="bi bi-filetype-pdf"></i></a>
        </div>
    </div>
    
       
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for venue in venues %}
        <div class="col">
          <div class="card">
            {% if venue.venue_image %}
                <a href="{% url 'events:show-venue' venue.id %}"><img src="{{ venue.venue_image.url }}" class="card-img-top" width=500 alt="venue-image"></a>
            {% else %}
                <p>No image uploaded for this venue.</p>
            {% endif %}

            <div class="card-body">
              <h5 class="card-title">{{venue}}</h5>
              <p class="card-text">
                {{ venue.address }} {{ venue.city_state }}
              </p>
              <a href="{% url 'events:show-venue' venue.id %}" class="btn btn-outline-primary btn-sm">Read More</a>
                {% if user.is_authenticated %}
                    {% if user == venue_owner %}
                        <td align="right">
                            <a href="{% url 'events:update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update Venue</a>
                            <a href="{% url 'events:delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm">Delete Venue</a>
                        </td>
                    {% endif %}
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
        <!-- {{ venues }}<br> -->
        <!-- Has Previous: {{ venues.has_previous }}<br>
        Has Next: {{ venues.has_next }}<br>
        Current Page: {{ venues.number }}<br>
        Number of Pages: {{ venues.paginator.num_pages }}<br>  -->
    <hr>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if venues.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ venues.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for i in page_range %}
                <li class="page-item {% if i == venues.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
            {% if venues.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ venues.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ venues.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>


{% endblock %} 