/* Main styling : base, navbars, main and footer sections*/

@import url('https://fonts.googleapis.com/css2?family=Aladin&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'KoHo';
}


:root {
    --bg-color: #D9D9D9;
    --second-bg-color: #212529;
    --third-bg-color: #4F518C;
    --text-color: #2C2A4A;
    --second-text-color: #fff;
    --third-text-color: #00ffdd;
    --fourth-text-color: #eaf740;
    --btn-color: #4e2db9;
    --border: #95859F;
    --second-btn-color: #ae88c5;
    /* --border: #44C8B2; */
    /* --second-btn-color: #44c8c1; */
}




html, body {
    height: 100%;
    margin: 0;
}


/* NAVBAR */

.container-fluid img {
    width: 2rem;
    height: auto;
    margin: 0 0.8rem 0 0.5rem;
}


/* nav.custom-navbar {
    background-color: var(--second-bg-color); 
    height: 4.5rem;
} */



/* HOME */
.main-header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    
}

@media (max-width: 850px) {
    .main-header-box {
        flex-wrap: wrap;
    }
}





div h1 {
    margin: 1.5rem 0 3rem 0;
}


.main-header-box {
    background-color: var(--border);
    border: 1px solid grey;
    border-radius: .35rem;
    padding: 2rem;
}

.container {
    box-sizing: border-box;
    
}

.container #welcome-span {
    color: var(--bg-color);
    font-weight: 500;
}





/* CALENDAR */

.flex-calendar-box {
    background-color: var(--second-bg-color);
    border: 1px solid black;
    border-radius: .35rem;
    color: var(--bg-color);
    height: 18rem;
    width: 10;
    padding: 1.7rem;
    margin: 1.3rem 2rem 0 4rem;
}

.flex-calendar-box img {
    width: 2rem;
    height: auto;
    margin: 0rem 0rem 0 9rem;
    text-align: right;
}

.container .date-paginator-bx {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 1.7rem 0;
    width: 31rem;
    height: 4rem;
    padding: 0.5rem;
    background-color: #f0f0f0;
    border-radius: .35rem;
    box-shadow: 0 0 0.2rem #c7c7c8;
    color: var(--third-bg-color);
    cursor: pointer;
    transition: .6s ease;
}


.container .date-paginator-bx:hover {
    background-color: #cdcee4;
    margin-bottom: 0.5rem;
    transition: .6s ease;
}


.container .date-paginator-bx h2 {
    margin-top: 0.5rem;
}

.container .date-paginator-bx h2 {
    color
}

#date-paginator {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    align-items: center;
    border-radius: .35rem;
    padding: 0.2rem;
}
 
#date-paginator i {
    font-size: 2rem;
    margin: 0 0.5rem 0 0.5rem;
    color: var(--third-bg-color);
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

#date-paginator i:hover {
    color: #449ae0;
    transition: .6s ease;
}


#date-paginator h2 {
    margin: 0 0.5rem 0 0.5rem;
}


.card,
.main-header-box {
    max-width: 1140px;
}

.container h5 {
    margin-left: 2rem;
}


/* EVENT INFO DISPLAY */
.flex-box {
    display: flex;
    flex-direction: column;
}

.info-img-box {
    display: flex;
    flex-direction: row;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 52%;
    margin-right: 3rem;
}


.img-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(180, 178, 178);
    width: 45%;
    height: 280px;
    border-radius: .30rem;
    /* margin-left: 80px; */
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.30rem;
}

.card-header {
    color: var(--third-bg-color);
    font-weight: 600;
}

.label {
    font-weight: bold; 
}

.accordion-box {
    margin-top: 1.5rem;
}

.event-card-box {
    display: flex;
    flex-direction: row;
}

.event-card-box .card { 
    margin: 0.5rem 2rem 0.5rem 0;
}


.leave-btn {
    color: rgb(248, 224, 44);
}


.card-footer .btn-bx {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




/* ADMIN DASHBOARD */

.main-container {
    display: flex;
    flex-direction: column;
}

.main-container h1 {
    margin: 1rem 0 2rem 0;
}

.main-container hr {
    margin: 2rem 0 2.5rem 0;
}
.main-header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-bottom: 2rem;
}

.venue-events-box {
    width: 74%; /* 70% of the container */
}

.card-box {
    width: 22%; /* 30% of the container */
}
/* 
.card-box {
    display: flex;
    flex-direction: column;
} */


/* VENUES  */

.header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1.2rem 0 1.2rem 0;
}

.header-box h1 {
    margin: 1rem 0 2rem 0;
}

.file-download-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .35rem;
    background-color: #bcbcbc;
    box-shadow: 0 0 1rem #c7c7c8;
    height: 3rem;
    width: 5rem;
    transition: opacity 0.9s ease-out, visibility 0.9s ease-out;

}

.file-download-box i{
    font-size: 1.5rem;
    margin: 0.3rem;
    color: var(--second-bg-color);
    opacity: 1;
    transition: opacity 0.5s ease-out, visibility 0.9s ease-out;
}


.file-download-box:hover {
    background-color: #dddddd;
    transition: .9s ease;
}

.file-download-box .bi-filetype-csv:hover {
    color: #02a51e;
    cursor: pointer;
    transition: .5s ease;
}

.file-download-box .bi-filetype-pdf:hover {
    color: #fb402b;
    cursor: pointer;
    transition: .5s ease;
}




/* FOOTER */


.footer-bx {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: var(--second-bg-color); /* Adjust the background color as needed */
    margin-bottom: -2rem;
}

.footer-bx .container {
    width: 100%;
    padding: 0;
}

.footer-bx .py-3.my-4 {
    margin: 0;
    padding: 1rem 0; /* Adjust padding as needed */
}



.footer-bx .nav-item a,
.footer-bx a {
    color: #9b9b9b;
    text-decoration: none;
}

.footer-bx a:hover {
    color: var(--bg-color);
    text-decoration: none;
}



/* LOGIN & REGISTER FORMS */

.container #login-background {
    width: 100%;
    height: 35rem;
    background-image: url('../img/photo-1563245091-eb11b28ffff4.png');
    background-repeat: no-repeat;  
    background-size: cover;
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .register-main {
    width: 100%;
    height: 75rem;
    background-image: url('../img/andreas-ronningen-S2YssLw97l4-unsplash.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: .25rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#login-form-bx {
    width: 45%;
    height: 28rem;
    /* background-color: #8d7fc3;  */
    background: rgba(0, 0, 0, .1);  
    /* backdrop-filter: blur(80px);   */
    border-radius: .35rem;

    padding: 1rem;
    box-shadow: 0 0 2rem var(--border);
}

.register-main #register-form-bx {
    width: 45%;
    height: 67.8rem;
    background: rgba(0, 0, 0, .1);  
    border-radius: .35rem;
    /* margin-right: 4.3rem; */
    margin-top: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 1rem var(--second-btn-color);
}


@media (max-width: 460px) {
    #login-form-bx,
    .register-main #register-form-bx {
        width:  380px;
        max-width: 380px;
    }
}


@media (min-width: 900px) {
    #login-form-bx,
    .register-main #register-form-bx {
        width:  380px;
        max-width: 380px;
    }
}



#login-form-bx form {
    margin: 1rem;
    height: 18.4rem;
    border-radius: .35rem;
}


#register-form-bx .reg-form,
#register-form-bx .reg-form label,
#login-form-bx form label,
#login-form-bx form h1,
#register-form-bx h1 {
    color: white;
}

#register-form-bx form .form-control,
#login-form-bx form .form-control {
    border-radius: .35rem;
    background: rgba(0, 0, 0, .5);    
    color: var(--third-text-color);
}

#login-form-bx form a {
    color: var(--bg-color);
}

.sign-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* google login */

.user-auth-box hr {
    margin-top: 0.4rem;
    border: 0.05rem solid var(--border);
}

.oauth-login-btn button {
    border-radius: 10%;
    padding: 0.4rem;
    background-color: #4285F4;
    color: var(--second-text-color);
    cursor: pointer;
    transition: 0.7s ease;
}

.oauth-login-btn button:hover {
    border-radius: 10%;
    padding: 0.4rem;
    background-color: var(--second-text-color);
    color: #4285F4;
    margin-top: 0.6rem;
    cursor: pointer;
    transition: 0.7s ease;
}

.google-signin-button {
    display: inline-block;
    margin-top: 10px;
}

.google-signin-button img {
    width: 191px; /* Adjust width according to the provided image */
    height: 46px; /* Adjust height according to the provided image */
    border: none;
    cursor: pointer;
}


/* #login-form-bx form .submit {
    color: var(--fourth-text-color);
} */










/* IMAGES */

.card .card-img-top {
    width: 100%; 
    height: 240px; 
    object-fit: cover;
}

.card-body 