/* Main styling : base, navbars, main and footer sections*/

@import url('https://fonts.googleapis.com/css2?family=Aladin&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'KoHo';
}


:root {
    --bg-color: #D9D9D9;
    --second-bg-color: #2C2A4A;
    --third-bg-color: #4F518C;
    --text-color: #2C2A4A;
    --second-text-color: #fff;
    --third-text-color: #00ffdd;
    --fourth-text-color: #eaf740;
    --btn-color: #4e2db9;
    --border: #95859F;
    --second-btn-color: #ae88c5;
    /* --border: #44C8B2; */
    /* --second-btn-color: #44c8c1; */
}

div h1 {
    margin: 1.5rem 0 3rem 0;
}


/* EVENT INFO DISPLAY */
.flex-box {
    display: flex;
    flex-direction: column;
}

.info-img-box {
    display: flex;
    flex-direction: row;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}


.img-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    width: 50%;
    height: 300px;
    /* margin-left: 80px; */
}

.card-header {
    color: var(--btn-color);
    text-
}


.event-card-box {
    display: flex;
    flex-direction: row;
}

.event-card-box .card { 
    margin: 0.5rem 2rem 0.5rem 0;
}


/* ADMIN DASHBOARD */

.main-container {
    display: flex;
    flex-direction: column;
}

.main-container h1 {
    margin: 1rem 0 3rem 0;
}

.main-container hr {
    margin: 2rem 0 2.5rem 0;
}
.main-header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-bottom: 2rem;
}

.venue-events-box {
    width: 74%; /* 70% of the container */
}

.card-box {
    width: 22%; /* 30% of the container */
}
/* 
.card-box {
    display: flex;
    flex-direction: column;
} */